*{
    margin: 0;
    font-family: Arial;
    
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
}

.nav-logo{
    height: 50px;
    margin-right: 10px;
    width: 130px;
    
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 13px;

}
.add-second{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    margin-left: 7px;
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;

}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

    
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(255,174,0,0.6);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.account{
    font-size: 0.7rem;
}

.orders{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    align-items: center;
}
.cart-icon{
    margin-right: 0.2rem;
    font-size: 25px;
}
.cart-size{
    font-size: 0.85rem;
    font-weight: 700;
}